<mat-toolbar color="primary">
    <img src="../assets/images/WandaTrip.png" height="50">
    <mat-icon class="icon">home</mat-icon>
    <a mat-button [routerLink]="['/view1']">Home</a>
    <mat-icon class="icon">map</mat-icon>
    <a mat-button [routerLink]="['/maps']">Find Location</a>
    <mat-icon>bolt</mat-icon>
    <a mat-button [routerLink]="['/weather']">Get Weather</a>
    <span class="flexExpand"></span>
    <mat-icon>contact_support</mat-icon>
    <a mat-button [routerLink]="['/contact']">Contact Us</a>&nbsp;
    <mat-icon class="icon">input</mat-icon>
    <a mat-button (click)="logout()">Logout</a>
</mat-toolbar>
<br>


<h1 align="center">
    E-mail Your Itinerary
</h1>
<body>
<form [formGroup]="form">
    <table>
        <tr>
            <td>
                <mat-form-field class="mat-input-wrapper">
                    <mat-label>To: </mat-label>
                    <input matInput type="text" formControlName="recipient" placeholder="Enter e-mail address">
                </mat-form-field>
                <p *ngIf="form.controls['recipient'].invalid && form.controls['recipient'].dirty" class="alert-purple">
                    <span *ngIf="form.controls['recipient'].errors?.['required']">
                        This field is required
                    </span>
                    <span *ngIf="form.controls['recipient'].errors?.['email']">
                        Please enter valid e-mail format
                    </span>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="mat-input-wrapper">
                    <mat-label>Subject: </mat-label>
                    <input matInput formControlName="subject" placeholder="Field must be filled">
                </mat-form-field>
                <p *ngIf="form.controls['subject'].invalid && form.controls['subject'].dirty" class="alert-purple">
                    <span *ngIf="form.controls['subject'].errors?.['required']">
                        This field is required
                    </span>
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <mat-form-field class="mat-input-wrapper">
                    <mat-label>Message: </mat-label>
                    <textarea matInput type="text" formControlName="msgBody"></textarea>
                </mat-form-field>
                <p *ngIf="form.controls['msgBody'].invalid && form.controls['msgBody'].dirty" class="alert-purple">
                    <span *ngIf="form.controls['msgBody'].errors?.['required']">
                        This field is required
                    </span>
                </p>
            </td>
        </tr>
        <tr>
            <td align="center">
                <label>Attachment: </label>
                <!-- <input type="file" accept="application/pdf" #file> -->
                <input type="file" accept="application/pdf" (change)="onFileChange($event)">
            </td>
        </tr>
        <br>
        <tr>
            <td align="center">
                <button mat-raised-button color="accent" [disabled]="form.invalid || !this.attachmentFile" (click)="sendEmail()">Send</button>
                &nbsp;
                <button mat-raised-button color="basic" [routerLink]="['/view1']">Back</button>
            </td>
        </tr>
    </table><br>
    <hr>
    <footer class="footer"></footer>
    <p align="center">WandaTrip Pte Ltd Copyright © 2023</p>
</form>
</body>
